        
        *{ font-family: sans-serif }
        body{padding: 50px 300px 50px 300px;}

        h2{ 
            display: none;
        
        }


        hgroup{
               border-bottom: 1px solid rgb(233, 220, 220) ;
               width: 85%; 
            }
        
        figure>img{

                float: right;
                margin: -100px 200px 0px -200px ;
                transform: rotate(-10deg);
                width: 140px;
                height: 140px;
        }

        #about{
                margin-top: -10px;
                display: flex;
                flex-direction: row-reverse;
        }
        
        #about>h3{
                visibility: hidden;
                width: 20%;
        }
        #about>p{
                width: 80%;
                opacity: 0.5;
                font-style: italic;
        }

        h3{ font-style: italic; }

        .content{

                display: grid;
                grid-template-rows: auto;
                row-gap: 30px;
        }

        #competencies > div.skills.skills-primary{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr ;
                column-gap: 10px;
                width: 50%;
                margin-top: 20px;
        }
        #competencies > div.skills.skills-secondary{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr ;
                column-gap: 10px;
                width: 50%;
                margin-bottom: 40px;
        }

        #competencies > div.skills.skills-primary > div{
                background-color: #027272;
                color: white;
                padding: 10px;
        }

        #competencies > div.skills.skills-secondary > div{
                background-color: #027272;
                color: white;
                padding: 5px;
        }

        #competencies > div.skills.skills-primary > div:nth-child(1) > span:after{
                content: "\2605 \2605 \2605";
                float: right;
        }
        #competencies > div.skills.skills-primary > div:nth-child(2) > span:after{
                content: "\2605 \2605";
                float: right;
        }

        #competencies > div.skills.skills-primary > div:nth-child(3) > span:after{
                content: " \2605";
                float: right;
        }
         #competencies > div.skills.skills-secondary > div> span{
                font-size: 12px;
        }
        #competencies > div.skills.skills-secondary > div:nth-child(1) > span::after{
                content: "\2605 \2605 \2605 \2605 \2605";
                float: right;
                margin-left: -20px;
        }
        #competencies > div.skills.skills-secondary > div:nth-child(2) > span::after{
                content: "\2605 \2605 \2605";
                float: right;
                margin-left: -20px;
        }
         #competencies > div.skills.skills-secondary > div:nth-child(3) > span::after{
                content: "\2605 \2605 \2605 \2605";
                float: right;
                margin-left: -28px;
        }
        
        
        #experiences,#education{
                display: inline-grid;
                grid-template-columns: auto auto ;
                column-gap: 20px;
        }

        #experiences>h3,#education>h3,#hobbies>h3{
                grid-row: 1/3;         
                border-right: 1px solid black;
                padding-right:15px;
            }

        
            .experience-date-separator{
                color: rgb(2, 126, 126);
            }

        #education>h3{
                padding-right:35px;
        }
        #competencies>h3{
                grid-row: 1/3;
                border-right: 1px solid black;
        
        }
        #competencies{
                display: grid;
                grid-template-columns:1fr 7fr ;
                gap: 20px;
                margin-left: -16px;
        }

        #hobbies{
            
                display: grid;
                grid-template-columns:1fr 7fr ;
                gap:43px;
                margin-left:-9px;

        }
        .experience-details{
                float: right;
                opacity: 0.5;
                margin-top: -45px;
            }
        .experience-type{
                 color: #027272;
        }

        .experience-institution{
                 display:none;
            }


        #contact > h3{
                 display: none;
        }
        #contact >  div > dl.contact> dt{
                 display: none;
        }
        #contact > div > dl.contact.contact-skype > dd{
                 display: none; 
        }
        #contact > div > dl.contact > dd > a{
                 display: none;
        }

        .contacts{
                display:flex;
                justify-content: center;
        }

        .contact-facebook{
                background-image: url('../images/facebook.png');
                background-size: 100%;
                width: 5vw;
                height: 5vw;
        }

        .contact-email{
                background-image: url('../images/email.png');
                background-size: 100%;
                width: 5vw;
                height: 5vw;
        }
        .contact-github{
                background-image: url('../images/github.png');
                background-size: 100%;
                width: 5vw;
                height: 5vw;
        }

        .contact-phone{
                background-image: url('../images/phone.png');
                background-size: 100%;
                width: 5vw;
                height: 5vw;
        }
      

        @media only screen and (max-width: 600px) {

        body{
                padding: 5px 20px 5px 20px;
        }

        figure>img{
                display: none;
        }

        #competencies,#experiences,#education,#hobbies{
                display: block;
        }


        #experiences>h3,#education>h3,#hobbies>h3,#competencies>h3{
                border-bottom: 1px solid black;
                border-right: none;
                width:35%;
        }


            #competencies > div.skills.skills-secondary{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr ;
                column-gap: 25px;
                width: 100%;
                margin-bottom: 0px;
                margin-top: 10px;
            }

            #competencies > div.skills.skills-primary{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr ;
                column-gap: 25px;
                width: 100%;
                margin-top: 20px;
            }

        #about>p {
                width: 100%;
                 }
         
        }