
header{
        background-color: silver;        
        display: flex;
        flex-direction: row;
        align-items: row;
        padding:30px 0px ; 
        }

        h1,h2{ font-size: 26px; 
        color: red;
        font-weight: bold; }

        h4 { color: red; }

        hgroup { margin-left: 400px; }

        figure{ margin:-120px 0px 0px 650px !important; }

        .content{
        
        grid-template-columns: 50% 50% ;
        
        padding: 50px 300px 50px 300px;
        
        display: inline-grid;
        
        }
        section > h3{
        
        border-bottom: 1px solid black;
        
        }
        
        
        
        section>h3::before{
        
        content:' ';
        
        margin-right:8px;
        
        display:inline-block; /*understand well */
        
        width: 20px;
        
        height: 20px;
        
        border-radius: 50%;
        
        background-color: red;
        
        }
        
        
        
        .experience-location::before 
        
        {content: "In";}
        
        
        
        .day::before 
        
        {content: "on ";}
        
        
        
        .experience-details{
        
        opacity: 0.5;
        
        }
        
        
        
        .experience-institution::before{
        
        content: '@ ';
        
        }
        
        
        
        .experience-date-separator{
        
        color: red;
        
        }
        

        
        .skills-primary, .skills-secondary {
        
        padding-top: 10px;
        
        display: flex;
        
        flex-direction: column;
        
        justify-content: space-between;
        
        height: 130px;
        
        }
        
        
        
        .skills-primary{
        
        margin-top: 35px;
        
        }
        
        
        
        .skills-secondary {
        
        margin-top: 20px;
        
        }
        
        .skills-primary::after{
        
        display: block;
        
        content: 'Main';
        
        position: absolute;
        
        margin-top: -20px;
        
        }
        
        
        
        .skills-secondary::after{
        
        display: block;
        
        content: 'Other';
        
        position: absolute;
        
        margin-top: -20px;
        
        }
        
        .skill {
        
        height: 38px;
        
        display: flex;
        
        align-items: center;
        
        background-color: gray
        
        }
        
        .skill span {
        
        align-items: center;
        
        margin-left: 10px;
        
        position: relative;
        
        z-index: 1;
        
        color: white;
        
        z-index: 1;
        
        width: 90%;
        
        height: 28px;
        
        margin-left: 10px;
        
        display: flex;
        
        }
        

        .skill span::after{
        
        position: absolute;
        
        content: '';
        
        height: 30px;
        
        background-color: red;
        
        z-index: -1;
        
        margin-left: -7px;
        
        }
        
        
        
        [data-skill="1"] span::after {
        
        width: 8%;
        
        }
        
        [data-skill="3"] span::after {
        
        width: 32%;
        
        }
        
        [data-skill="5"] span::after {
        
        width: 50%;
        
        
        
        }
        
        [data-skill="7"] span::after {
        
        width: 73%;
        
        opacity: 0.5
        
        ;}
        
        
        
        [data-skill="9"] span::after {
        
        width: 93%;
        
        opacity: 0.5;
        
        }
        
        
        
        .contact{
        
        display: flex;
        
        flex-direction: row;
        
        margin:0px;
        
        }
        
        .contact-type{
        
        width: 17%;
        
        background-color: red;
        
        color: white;
        
        padding:5px 5px 5px 5px;
        
        }
        
        .contact-value{
        
        width: 83%;
        
        padding:10px 0x 10px 0px;
        
        margin: 0px;
        
        background-color: rgb(0, 0, 0);
        
        color: red;
        
        }
        
        a{
        
        color:red;
        
        text-decoration: none;
        
        }
        
        #contact > h3{
        
        display: none;
        
        }
        
        
        
        .contacts{
        
        margin-top: -1030px;
        
        }
        
        
        
        
        
        @media only screen and (max-width: 600px) {
        
        header>div {
        
        display: inline-block;
        
        margin: 30px;
        
        
        
        }
        
        hgroup{
        
        
        
        margin: 0px;
        
        }
        
        
        
        figure{
        
        
        
        margin:15px !important;
        
        }  
        .content{
        
        display: block;
        
        padding:10px;
        
        }
        .contacts{
        
        margin-top:10px;
        
        }
        .contact-type{
        
        width:30%;
        
        }
        
        
        
        .contact-value{
        
        width:70%;
        
        background-color:white;
        
        }
        
        #contact > div > dl.contact.contact-skype > dd{
        
        color:black;   }}
        