.body{
    width:100%;
    height: 100%;
    background-color: #9ccef4;
    font-family: 'Raleway';
}

.mainImage {
display: flex;
justify-content: center;
}

.mainImage img{
margin-top: 10px;
width:250px;
height:250px
}
.imgDiscription{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 900;
    font-size: 25px;
    
}
.temperature{
  display: flex;
  justify-content: center;
  color:#080a4e;
  font-size: 30px;
}
.temp{
    font-weight: 900;
}
.hum-pre{
    display: flex;
    justify-content: center;  
    color: #080a4e;
}
.hum-pre p{
    font-size: 18px;
}
.hp{
    font-weight: 900;
}
.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 75px;
}
.card img{
    width: 120px;
    height: 120px;
}
.card p {
    font-size: 18px;
}
.weather-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 26px 300px 0 300px;

}

@media screen and (max-width:1422px){
    .body{
        height: 100%;
    }
    .weather-cards{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
    
    }
    .weather-cards::before{
        content: "";
        width:100%;
        height:2px;
        background-color: #080a4e;
    }
    .card::after{
        content: "";
        width:100%;
        height:2px;
        background-color: #080a4e;
    }
}