.search-input input{
    margin-top: 30px;
    background-color: #759eda;
    margin-left: 20px;
   outline: none;
   padding:5px 0;
   border-top-style: hidden;
   border-right-style: hidden;
   border-left-style: hidden;
   border-bottom-style: hidden;
   font-size: 28px;
   color:white
}
::placeholder{
    color:white;
}